<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lost & Found - University of Lucknow{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}" class="logo">University of Lucknow (Lost & Found)</a>
            <ul>
                <li><a href="{{ url_for('index') }}">All Items</a></li>
                <li><a href="{{ url_for('report_lost') }}">Report Lost</a></li>
                <li><a href="{{ url_for('report_found') }}">Report Found</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy;Message on Instagram to remove a report </p>
        <p>&copy; 2025 Copyright to Cazuel Engineers</p>
         <p>&copy;Follow Cazuel Engineers on Instagram </p>
    </footer>
</body>
</html>